@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box; }

body {
  background-color: #F5F5F5;
  color: #303030;
  padding: 15px;
  font-family: "Roboto", sans-serif; }

.container {
  max-width: 1400px;
  margin: 0 auto; }
  .container header {
    background-color: #303030;
    color: #F5F5F5;
    margin: 10px;
    padding: 25px;
    display: flex;
    margin-bottom: 15px; }
    .container header .logo {
      flex: 1;
      font-size: 1.5em;
      font-weight: 600; }
      .container header .logo::before {
        content: "+";
        font-weight: 700;
        color: #009DDC; }
    .container header .location {
      flex: 1;
      text-align: center; }
      .container header .location select {
        width: 50%;
        height: 25px;
        border: 1px solid #F5F5F5;
        background-color: #303030;
        color: #F5F5F5; }
    .container header nav {
      flex: 1;
      text-align: right; }
      .container header nav ul {
        list-style: none;
        margin-top: 2px; }
        .container header nav ul li {
          display: inline-block;
          color: #F5F5F5;
          font-weight: 300;
          margin-left: 5px; }
  .container .heroPanel {
    background-color: #8D99AE;
    color: #F5F5F5;
    margin: 10px;
    padding: 25px;
    margin-bottom: 15px; }
    .container .heroPanel .heroTitle {
      font-size: 2.5em;
      font-weight: 400;
      margin-bottom: 15px; }
    .container .heroPanel .heroText {
      font-weight: 300;
      color: #F5F5F5;
      margin-bottom: 25px; }
  .container .threePanel {
    display: flex; }
    .container .threePanel div {
      flex: 1;
      padding: 25px;
      margin: 10px;
      background: #009DDC;
      color: #F5F5F5; }
      .container .threePanel div h2 {
        display: inline-block;
        background-color: #303030;
        padding: 5px;
        margin-bottom: 25px; }
      .container .threePanel div p {
        font-weight: 400;
        line-height: 25px;
        max-width: 200px; }
  .container .twoPanel {
    display: flex; }
    .container .twoPanel div {
      flex: 1;
      background-color: #C14953;
      color: #F5F5F5;
      margin: 10px;
      padding: 25px; }
      .container .twoPanel div h2 {
        display: inline-block;
        background-color: #303030;
        padding: 5px;
        margin-bottom: 25px; }
      .container .twoPanel div p {
        font-weight: 300;
        line-height: 25px;
        max-width: 300px; }
  .container footer {
    display: flex;
    flex-direction: row;
    background-color: #303030;
    color: #F5F5F5;
    margin: 10px;
    padding: 25px; }
    .container footer .footerSiteMap {
      flex: 1; }
      .container footer .footerSiteMap span {
        display: inline-block;
        border-bottom: 1px solid #F5F5F5;
        margin-bottom: 10px;
        padding-bottom: 5px;
        font-weight: 300; }
      .container footer .footerSiteMap ul {
        list-style: none; }
        .container footer .footerSiteMap ul li {
          font-weight: 300;
          padding: 5px; }
    .container footer .footerNameSpace {
      text-align: right; }
      .container footer .footerNameSpace h1 {
        margin-bottom: 10px; }
        .container footer .footerNameSpace h1::before {
          content: "+ ";
          color: #009DDC; }

.showCase {
  display: flex;
  flex-direction: row; }
  @media only screen and (max-width: 700px) {
    .showCase {
      flex-direction: column; } }
  .showCase .forSalePanel {
    flex: 1;
    margin: 10px;
    background-color: #303030; }
    .showCase .forSalePanel .forSalePanelImg img {
      max-width: 100%;
      margin-bottom: 5px; }
    .showCase .forSalePanel .forSalePanelText {
      color: #F5F5F5;
      padding: 15px;
      margin-bottom: 10px; }
      .showCase .forSalePanel .forSalePanelText h3 {
        margin-bottom: 15px; }
      .showCase .forSalePanel .forSalePanelText p {
        font-weight: 300;
        line-height: 25px; }

/*# sourceMappingURL=style.css.map */
